<h1>Family Stats</h1>

<% @users = User.find(:all) %>
<% @users.each do |user| %>
<p>
	<%= image_tag(user.robot, :alt => user.name, :class => "stats") %> <br />
	<strong>Name:</strong> <%= user.name %> <br />
	<strong>Level:</strong> <%= user.level.to_s %> <br />
<p>

<% end %>