<h1>Family Stats</h1>

<table class = "familystats" summary = "Family Stats">
<% @users = User.find(:all) %>
<% @users.each do |user| %>
<tr>
	<td class = "image">
	<%= image_tag("#{user.robot}.png", :alt => user.name, :class => "stats") %> 
	</td>
	
	<td class = "stats">
	<strong>Name:</strong> <%= user.name %> <br />
	<strong>Level:</strong> <%= user.level.to_s %> <br />
	</td>
	
</tr>

<% end %>
</table>